.new-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  font-size: 1.2rem;
}

.new-event-form input,
.new-event-form textarea {
  width: 300px;
  font-size: 1rem;
}

.new-event-form input {
  height: 40px;
  padding: 0 10px;
  border-radius: 45px;
  border: 2px solid #ccc;
}

.new-event-form textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  max-width: 300px;
  min-width: 300px;
  resize: none;
  margin-bottom: 10px;
}
